@{
    var text = ViewBag.Text.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @text
    
    @Html.ActionLink("up", "ClickUp")
    @Html.ActionLink("down","ClickDown")

</div>
</body>
</html>
